
# Loads default set of integrations. Do not remove.
default_config:

logger:
  default: info
  logs:
    custom_components.pyscript: warning

  # Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

# ✅ laad álle automations uit de map 'automations/'
automation: !include_dir_merge_list automations/
script: !include_dir_merge_list scripts/
scene: !include scenes.yaml
template: !include templates.yaml

input_boolean:
  boiler_al_verwarmd:
    name: Boiler al verwarmd vandaag
    initial: false

timer:
  boiler_opwarmtijd:
    duration: '00:30:00'
  woonkamer_klimaat_melding_cooldown:
    duration: "01:00:00"    

sensor:
  - platform: rest
    name: knmi_data_utrecht
    resource: "https://data.buienradar.nl/2.0/feed/json"
    method: GET
    scan_interval: 9999999999
    value_template: "ok"
    json_attributes:
      - actual
      - forecast

recorder:
  exclude:
    entities:
      - sensor.knmi_data_utrecht


tts:
  - platform: google_translate
    language: 'nl'
    cache: true
